version: '3'
services:
  database:
    image: 'mongo'
    container_name: 'highoutput-mongo-db'
    restart: always
    environment:
      MONGO_INITDB_DATABASE: ${DB_NAME}
      MONGO_INITDB_ROOT_USERNAME: ${DB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      ENV_DB_USER: ${DB_USER}
      ENV_DB_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./mongo/init.sh:/docker-entrypoint-initdb.d/init.sh:ro
      - ./data/db:/data/db
    ports:
      - 27017:27017